{% load static %}
<link rel="stylesheet" href="{% static 'poll/create_poll.css' %}" />

<!--  Erstellung einer neuen Umfrage -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Poll - Sweta's Poll</title>
    <link rel="stylesheet" href="{% static 'poll/create_poll.css' %}">
</head>
<body>
    <h1>Neue Umfrage erstellen</h1>
    <form method="post">
      {% csrf_token %}
      <label for="creator_name" class="big-label">Dein Name:</label>
      <input type="text" id="creator_name" name="creator_name" required class="input-field" />
      
      <label for="title" class="big-label">Titel der Umfrage:</label>
      <input type="text" id="title" name="title" required class="input-field" />

      <h2>Datum und Zeit:</h2>
      <div id="date-time-proposals">
        <div class="proposal">
          <label for="date_proposals[]" class="big-label">Datum:</label>
          <input type="date" id="date_proposals[]" name="date_proposals[]" required class="input-field" />
          
          <label for="time_proposals[]" class="big-label">Zeit:</label>
          <input type="time" id="time_proposals[]" name="time_proposals[]" required class="input-field" />

          <button type="button" class="remove-proposal">Datum entfernen</button>
        </div>
      </div>
      <button type="button" id="add-proposal">Datum hinzufügen</button>
      <button type="submit" id="submit-button">Umfrage erstellen</button>
    </form>
</body>
</html>


<!--  JavaScript für das Hinzufügen/Entfernen von Datum/Zeit-Vorschlägen -->
    <script>
      document.getElementById("add-proposal").addEventListener("click", function () {
        var proposalsDiv = document.getElementById("date-time-proposals");
        var newProposal = proposalsDiv.children[0].cloneNode(true);
        proposalsDiv.appendChild(newProposal);
        newProposal.querySelector(".remove-proposal").style.display = "inline-block";

        newProposal.querySelector(".remove-proposal").addEventListener("click", function () {
          proposalsDiv.removeChild(newProposal);
        });
      });
    </script>
  
    <a href="{% url 'view_polls' %}"> Zu aktuellen Umfragen</a>


</body>
</html>







