{% load static %}
<link rel="stylesheet" href="{% static 'poll/vote.css' %}" />

{% block content %}
<h1>Abstimmung: {{ poll.title }}</h1>

<!-- Abstimmungsansicht - Formular zur Eingabe des Wählers -->

<form
  method="post"
  action="{% url 'vote' poll_id=poll.id %}?next={% url 'view_poll' poll_id=poll.id %}"
>
  {% csrf_token %}
  <table>
    <thead>
      <tr>
        <th>Wähler</th>
        {% for date_option in date_options %}
        <th>
          <div class="date-option-header">
            | {{ date_option.date_proposal }} |<br>{{ date_option.time_proposal }} Uhr
        </div>
        </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="voter-info">
          <label for="voter_name">Ihr Name:</label>
          <input type="text" id="voter_name" name="voter_name" required />
        </td>
        {% for date_option in date_options %}
        <td>
          <div class="response-container">
            <label
              for="response_choice_{{ date_option.id }}"
              class="response-label"
              >Ihre Antwort:</label
            >
            <select
              id="response_choice_{{ date_option.id }}"
              name="response_choice_{{ date_option.id }}"
              class="response-choice"
            >
              <option value="ja">Ja</option>
              <option value="nein">Nein</option>
              <option value="vielleicht">Vielleicht</option>
            </select>

            <input
              type="hidden"
              name="date_option_ids"
              value="{{ date_option.id }}"
            />
          </div>
        </td>
        {% endfor %}
      </tr>
    </tbody>
  </table>

  <button type="submit" class="vote-button">Abstimmen</button>
</form>

<a href="{% url 'view_poll' poll_id=poll.id %}">Zeige Umfrageergebnisse</a>
{% endblock %}
